.container {
  width: 100%;
  max-width: 100vw;
  padding: 0 0 0 0;
  margin: 0 0 0 0;
  display: flex;
  justify-content: space-between;
}

/*Left-side*/
.left_side {
  background: #FFFFFF;
  width: 58%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.head {
  height: 72px;
  width: 100%;
  text-align: center;
  line-height: 72px;
  box-sizing: border-box;
}

.logo_area {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo_area img {
  padding-left: 30px;
}

.gap {
  height: 15vh;
  align-items: center;
}

.content {
  width: 480px;
  height: 532px;
  background-color: #ffffff;
}

.connectWalletBtn1 {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 480px !important;
  height: 56px !important;
  background-color: white !important;
  border-radius: 12px !important;
  border: 1px solid #22202C !important;
  cursor: pointer !important;
  margin-top: 24px !important;
  margin-bottom: 32px !important;
  transition: 0.2s !important;
  font: 16.8px 'Gilroy', sans-serif !important;
  margin: 24px 0 16px 0 !important;
  padding: 0 0 0 0 !important;
  font-size: 16.8px !important;
  color: #6C757D !important;  
}

.connectWalletBtn1:hover {
  border: 1px solid #7C5BF6 !important;
  color: #7C5BF6 !important;
  transition: 0.2s !important;
}

.connectWalletBtn2 {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  width: 480px !important;
  height: 56px !important;
  background-color: white !important;
  border-radius: 12px !important;
  border: 1px solid #22202C !important;
  cursor: pointer !important;
  margin-top: 24px !important;
  margin-bottom: 32px !important;
  transition: 0.2s !important;
  font: 16.8px 'Gilroy', sans-serif !important;
  margin: 16px 0 16px 0 !important;
  padding: 0 0 0 0 !important;
  font-size: 16.8px !important;
  color: #6C757D !important; 
  opacity: 0 !important; 
}

.connectWalletBtn2:hover {
  border: 1px solid #7C5BF6 !important;
  color: #7C5BF6 !important;
  transition: 0.2s !important;
}

.btnH2 {
  font: 16.8px 'Gilroy', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 16.8px;
  color: #6C757D;
}

.button_logo {
  width: 25px;
  height: 25px;
  margin-right: 12px;
}

.signatureMessage {
  width: 480px;
  height: 100px;
}

.signatureText {
  font: 11.8px 'Gilroy', sans-serif;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  font-size: 11.8px;
  color: #6C757D;
  text-overflow: clip;
  overflow: auto;
}

.signatureText1 {
  font: 16.8px 'Gilroy', sans-serif;
  margin: 0 0 0 0;
  padding: 16px 0 9px 0;
  font-size: 16.8px;
  color: #6C757D;
  overflow: hidden;
}

.signMessageBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 480px;
  height: 56px;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #22202C;
  cursor: pointer;
  margin-top: 24px;
  margin-bottom: 32px;
  transition: 0.2s;
  font: 16.8px 'Gilroy', sans-serif;
  margin: 16px 0 0 0;
  padding: 0 0 0 0;
  font-size: 16.8px;
  color: #6C757D ;
}

.signMessageBtn:hover {
  border: 1px solid #7C5BF6;
  color: #7C5BF6;
  transition: 0.2s;
}

.textSign {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0;
  margin: 0 0 8px 0;
}

/*Right-side*/
.right_side {
  background: #7C5BF6;
  width: 42%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-image: url('../public/images/Background.png');
  background-size: 100% 100%;
}
